<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>Hello</h1>
<p th:text="${user.firstname}">Jarek</p>

<span th:if="${user.getLastname() != null}" th:text="${user.getLastname()}">Jarek</span>
<span th:unless="${user.lastname == null}" th:text="${user.getLastname()}">Jarek</span>

<p th:if="${user.getLastname() != null}" th:text="${user.getLastname()}">Jarek</p>
<p th:unless="${user.lastname == null}" th:text="${user.getLastname()}">Jarek</p>

<div th:if="${user.getLastname() != null}" th:text="${user.getLastname()}">Jarek</div>
<div th:unless="${user.lastname == null}" th:text="${user.getLastname()}">Jarek</div>

<p th:text="${countries}"></p>

<div style="border: red 1px solid;">
    <div th:each="country : ${countries}" style="border: green 1px dotted;">
        <span th:text="${country.name}"></span>: <span th:text="${country.area}" style="color: blue;"></span>
    </div>
</div>

</body>

</html>
