<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>Hello</h1>

<span th:if="${user.firstname != null}" th:text="${user.firstname}">Jan</span>
<span th:if="${user.lastname != null}" th:text="${user.lastname}">Kowalski</span>

</body>

</html>
