<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Current temperature: <span th:text="${currentTemp}"></span>℃</p>

<p>Saying for today: <span th:text="${randomSaying}"></span></p>

</body>
</html>
