<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Miniblog - posts</title>
</head>
<body>

<h1>Posts list</h1>

<div th:each="post : ${posts}">
    <h2><a th:href="@{/posts/{postId}(postId=${post.id})}" th:text="${post.title}">Post title</a></h2>
    <div th:text="${#temporals.format(post.added, 'yyyy-MM-dd HH:mm')}">2020-12-05</div>
    <p th:text="${#strings.abbreviate(post.bodyAbstract, 5)}">Lorem ipsum...</p>
</div>


</body>
</html>
