<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Miniblog - ' + post.title}">Miniblog - single posts</title>
</head>
<body>
<h1 th:text="${post.title}">Post title</h1>
<div style="color: gray;" th:text="${#temporals.format(post.added, 'yyyy-MM-dd HH:mm')}">2020-12-05</div>
<p th:text="${post.body}">Lorem ipsum...</p>

<div>
    <form th:action="@{/posts/{postId}/comment/add(postId=${post.id})}" method="post">
        Nickname: <input type="text" name="nickname">
        <br>
        Your comment: <textarea name="commentText"></textarea>
        <br>
        <input type="submit" value="Add comment">
    </form>
</div>
<p th:if="${msg != null}" th:text="${msg}"></p>
<div th:each="comment : ${post.comments}">
    <div><span th:text="${comment.nickname}">Nick</span> (<span th:text="${comment.added}"></span>)</div>
    <div th:text="${comment.text}">Comment text...</div>
</div>

</body>
</html>
