<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Miniblog - users list</title>
</head>
<body>

<h1>User info</h1>
<p>Id: <span th:text="${userDetails.id}"></span></p>
<p>Email: <span th:text="${userDetails.email}"></span></p>
<p>Nickname: <span th:text="${userDetails.nickname}"></span></p>
<p th:if="${userDetails.created != null}">Registration date: <span th:text="${userDetails.created}"></span></p>


</body>
</html>
